PENPOT_PUBLIC_URI=http://localhost:9001

PENPOT_DATABASE_URI=postgresql://penpot-postgres/penpot
PENPOT_DATABASE_USERNAME=penpot
PENPOT_DATABASE_PASSWORD=penpot

PENPOT_REDIS_URI=redis://penpot-redis/0

PENPOT_ASSETS_STORAGE_BACKEND=assets-fs
PENPOT_STORAGE_ASSETS_FS_DIRECTORY=/opt/data/assets

PENPOT_TELEMETRY_ENABLED=false

PENPOT_SMTP_ENABLED=false
PENPOT_SMTP_DEFAULT_FROM=no-reply@example.com
PENPOT_SMTP_DEFAULT_REPLY_TO=no-reply@example.com
# PENPOT_SMTP_HOST=
# PENPOT_SMTP_PORT=
# PENPOT_SMTP_USERNAME=
# PENPOT_SMTP_PASSWORD=
# PENPOT_SMTP_TLS=false
# PENPOT_SMTP_SSL=false

PENPOT_FLAGS="disable-registration disable-email-verification enable-login-with-password enable-prepl-server disable-secure-session-cookies"

PENPOT_SECRET_KEY=CHANGE_ME
