# https://github.com/penpot/penpot/blob/1.18.6/docker/images/docker-compose.yaml

PENPOT_FLAGS="disable-registration disable-email-verification enable-login-with-password enable-prepl-server disable-secure-session-cookies"

PENPOT_SECRET_KEY=CHANGE_ME

PENPOT_PUBLIC_URI=http://localhost:9001

PENPOT_DATABASE_URI=postgresql://penpot-postgres/penpot
PENPOT_DATABASE_USERNAME=penpot
PENPOT_DATABASE_PASSWORD=penpot

PENPOT_REDIS_URI=redis://penpot-redis/0

PENPOT_ASSETS_STORAGE_BACKEND=assets-fs
PENPOT_STORAGE_ASSETS_FS_DIRECTORY=/opt/data/assets

PENPOT_TELEMETRY_ENABLED=false

PENPOT_SMTP_ENABLED=false
