version: "3"
networks:
  internal:
    external: false
  traefik:
    name: ${TRAEFIK_NETWORK}
    external: true
services:
  penpot-frontend:
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=${TRAEFIK_NETWORK}"
      - "traefik.http.routers.penpot.entrypoints=http"
      - "traefik.http.routers.penpot.rule=Host(`penpot.localhost`)"
      - "traefik.http.services.penpot.loadbalancer.server.port=80"
    networks:
      - internal
      - traefik
  penpot-backend:
    networks:
      - internal
  penpot-exporter:
    networks:
      - internal
  penpot-postgres:
    networks:
      - internal
  penpot-redis:
    networks:
      - internal
